@media only screen and (max-width: 1100px) {
  .header__title {
    font-size: 6rem;
  }
  .header__subtitle {
    font-size: 1.5rem;
  }
  .header__image {
    width: 100%;
  }

  .about {
    padding: 1rem 2rem;
  }
  .about__text {
    padding: 0rem 5rem;
  }

  .products {
    padding: 1rem 2rem;
  }
  .motivation__container {
    padding: 0.5rem 1rem;
  }
  .motivation__image {
    aspect-ratio: 1;
    height: 50%;
  }
}

@media only screen and (max-width: 700px) {
  .header__container {
    flex-direction: column;
  }
  .header__texts {
    height: 100%;
    width: 80%;
    padding: 0 1rem;
    background-color: #ffffff77;
    z-index: 50;
    border-radius: 50%;
    text-align: center;
    align-items: center;
  }
  .header__title {
    font-size: 6rem;
    color: #222;
  }
  .header__subtitle {
    font-size: 1.5rem;
    color: #222;
  }
  .header__image {
    width: 100%;
  }

  .about {
    padding: 1rem 2rem;
  }
  .about__text {
    padding: 0rem 1rem;
  }

  .products {
    padding: 1rem 2rem;
  }
  .products__list {
    flex-direction: column;
  }

  .motivation {
    flex-direction: column;
    height: auto;
    margin-bottom: 48px;
  }
  .motivation__container {
    padding: 0.5rem 1rem;
    width: 85%;
  }
  .motivation__image {
    aspect-ratio: 1;
    width: 50%;
  }

  /* Nav */
  /* .nav {
    position: fixed;
    z-index: 1001;
    border-bottom: #22222217 solid 1px;
    background-color: var(--primary-color);
  } */

  .nav__list-right {
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(0, 0);
    width: 30vh;
    height: 100vh;
    z-index: 1000;
    background-color: var(--primary-color-light);
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    border-left: #666 1px solid;
    box-shadow: #2222224b 0 0 10px 1000px;
    transition: all 0.3s ease-in-out;
  }
  .nav__mobile-button-container {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 20px;
    right: 10px;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .nav__mobile-button,
  .nav__mobile-button::after,
  .nav__mobile-button::before {
    display: inline;
    content: "";
    width: 20px;
    height: 3px;
    background-color: #222;
    border-radius: 2px;
  }
  .nav__mobile-button {
    display: block;
    position: relative;
  }
  .nav__mobile-button::after,
  .nav__mobile-button::before {
    position: absolute;
    left: 0;
  }
  .nav__mobile-button::before {
    top: -6px;
  }
  .nav__mobile-button::after {
    top: 6px;
  }
  .nav__list-right a:first-child {
    margin-top: 2rem;
  }
  .nav__list-right--closed {
    transform: translate(100%, 0) !important;
    box-shadow: none !important;
  }
  .footer__list {
    gap: 5px;
  }
  .footer__list a {
    padding: 0 0.5rem;
  }
}
