.products {
  background-color: var(--secondary-color);
  padding: 5rem 10rem;
}
.products__title {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

.products__list {
  display: flex;
  justify-content: space-evenly;
}
.products__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 2rem;
  height: 50vh;
}

.products__image {
  width: 200px;
}
